<div class="home-wrapper">
    <h1>SHARE YOUR RECOMENDATIONS</h1>
    <h1>おすすめの映画をシェアしよう！</h1>
    <p>友達や趣味の合う人をフォローしよう！</p>
    <p>面白そうだと思ったらいいねをしてマイリストに追加しよう！</p>
    <div class="card-columns">
        <div class="card">
            <img src="/assets/top-1.jpeg" width="120" height="180" class="card-img-top" >
            <div class="card-body">
            <h5 class="card-title">マイインターン</h5>
            <h8 class="card-subtitle">Netflix</h5>
            <p><span class="fa fa-heart like-btn-unlike"></span>30</p>
            <%= link_to">>", home_path, class: "card-link" %>
            </div>
            <div class="card-footer text-right">
                <p>さっち〜</p>
            </div>
        </div>
        <div class="card">
            <img src="/assets/top-2.jpeg" width="120" height="180" class="card-img-top" >
            <div class="card-body">
            <h5 class="card-title">アリー　スター誕生の奇跡</h5>
            <h8 class="card-subtitle">Netflix</h5>
            <p><span class="fa fa-heart like-btn-unlike"></span>16</p>
            <%= link_to">>", home_path, class: "card-link" %>
            </div>
            <div class="card-footer text-right">
            <p>名無しさん</p>
            </div>
        </div>
        <div class="card">
            <img src="/assets/top-3.jpeg" width="120" height="180" class="card-img-top" >
            <div class="card-body">
            <h5 class="card-title">僕のワンダフルライフ</h5>
            <h8 class="card-subtitle">AmazonPrime</h5>
            <p><span class="fa fa-heart like-btn-unlike"></span>59</p>
            <%= link_to">>", home_path, class: "card-link" %>
            </div>
            <div class="card-footer text-right">
            <p>しょー</p>
            </div>
        </div>
    </div>
</div>